[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epizootic"]
	path = epizootic
	url = https://github.com/viralemergence/epizootic
